body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

button {
  border: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
input {
  border: none;
  color: #f0f0f0;
  background-color: #26245000;
  outline: none;
  font-size: 16px;
  max-width: 199px;
  width: 100%;
  margin-right: 10px;
}
body {
  color: #f0f0f0;
  background-color: #19173d;
  height: 844px;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.footer_container {
  position: fixed;
  bottom: 0;
  background-color: #262450b6;
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
}
.footer_row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
li {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 70px;
}
.btn button {
  margin-left: 10px;
  background: none;
  color: #f0f0f0;
  font-size: 16px;
}
.parentM {
  display: flex;
}
.parentB {
  display: flex;
}
.smalB {
  width: 15px;
  height: 15px;
  background-color: #009bb6;
  border-radius: 50%;
  margin-right: 5px;
}
.BigB {
  width: 15px;
  height: 15px;
  background-color: #bfc200;
  border-radius: 50%;
  margin-right: 5px;
}
.stocks_container {
  margin-top: 20px;
}
.stocks_row {
  display: flex;
  flex-direction: column;
}
.top_stocks {
  display: flex;
  justify-content: space-between;
}
.stocks_cost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding-top: 21px;
}
.stocks {
  width: 130px;
  height: 160px;
}
.around_stock0 {
  background: rgb(255, 122, 0);
  background: linear-gradient(
    166deg,
    rgba(255, 122, 0, 1) 0%,
    rgba(219, 0, 255, 1) 100%
  );
  width: 116px;
  height: 116px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.around_stock1 {
  background: rgb(0, 224, 255);
  background: linear-gradient(
    45deg,
    rgba(0, 224, 255, 1) 0%,
    rgba(0, 71, 255, 1) 100%
  );

  width: 116px;
  height: 116px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.around_stock2 {
  background: rgb(0, 40, 252);
  background: linear-gradient(
    254deg,
    rgba(0, 40, 252, 1) 0%,
    rgba(143, 0, 255, 1) 100%
  );
  width: 116px;
  height: 116px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inside_around {
  border-radius: 50%;
  background: #19173d;
  width: 77px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00c314;
  font-weight: 700;
  font-size: 30px;
}
.boost {
  display: flex;
  justify-content: space-between;
}
.iconDown {
  color: #0469ff;
  font-size: 17px;
  vertical-align: middle;
}
.boost button {
  border-radius: 50%;
  width: 31px;
  height: 26px;
  background-color: #4c51e87a;
  box-shadow: 0px 0px 10px 0px #4c51e8;
}
.top_stocks button {
  background-color: #4158d1;
  color: #f0f0f0;
  font-weight: 200;
  font-size: 11px;
  height: 28px;
  width: 88px;
  border-radius: 20px;
  border: 0.2px solid rgba(255, 255, 255, 0.507);
}
.dividents_true {
  opacity: 1;
}
.dividents_false {
  opacity: 0;
}
.stocks_divid {
  color: #ffe600;
}
.info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}
.step {
  height: 56px;
  width: 134px;
  border-radius: 20px;
  background: rgb(0, 166, 194);
  background: linear-gradient(
    90deg,
    rgba(0, 166, 194, 1) 0%,
    rgba(21, 68, 223, 1) 100%
  );
  color: #f0f0f0;
  box-shadow: -5px 0px 20px 0 rgb(0, 166, 194), 5px 0px 20px 0px rgb(13, 0, 194);
}
.step:active {
  transform: scale(0.9);
  box-shadow: -5px 0px 10px 0 rgb(0, 166, 194), 5px 0px 10px 0px rgb(13, 0, 194);
}
.dis {
  opacity: 0.4;
  height: 56px;
  width: 134px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(0, 166, 194, 1) 0%,
    rgba(21, 68, 223, 1) 100%
  );
  color: #f0f0f0;
  border: 2px solid rgba(255, 255, 255, 0.473);
}
.text_bonds {
  background-image: linear-gradient(to right, #00a6c2, #1544df);
  color: transparent;
  background-clip: text;
}
.first_bonds {
  position: relative;
  left: 32px;
  top: 10px;
  font-size: 30px;
  font-weight: bold;
}

.second_bonds {
  position: relative;
  left: 50px;
  top: 8px;
  font-weight: bold;
}
.footer_row button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  font-size: 22px;
}
.elem {
  border: 1px solid #f0f0f023;
  border-radius: 30px;
  height: 60px;
}
.container_players {
  background-color: #26245080;
  padding: 8px 10px 0 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 363px;
}
.noAdd {
  border: 1px solid rgba(255, 255, 255, 0.151);
  border-radius: 20px;
  position: relative;
  background: none;
  font-size: 20px;
  font-weight: bold;
  color: #f0f0f0;
  padding: 5px;
  width: 100px;
  opacity: 0.3;
}
.yesAdd {
  border: 1px solid rgba(255, 255, 255, 0.151);
  border-radius: 20px;
  position: relative;
  background: none;
  font-size: 20px;
  font-weight: bold;
  color: #f0f0f0;
  padding: 5px;
  width: 100px;
}
.addElem {
  border: 1px solid #ffffff33;
  border-radius: 30px;
  height: 60px;
}
.brown {
  color: #885d0d;
}
.platinum {
  color: #a5a5a5;
}
.gold {
  color: #c7ba00;
}
.silver {
  color: #6439ff;
}
.green {
  color: #00c314;
}
